# 1. Credenciales Base de Datos Norte (PostgreSQL)
DB_NORTE_USER=user
DB_NORTE_PASSWORD=password
DB_NORTE_NAME=gimnasio_norte
DB_NORTE_PORT=5432

# 2. Credenciales Base de Datos Sur (MySQL)
DB_SUR_USER=root
DB_SUR_PASSWORD=rootpassword
DB_SUR_NAME=gimnasio_sur
DB_SUR_PORT=3307

# 3. Credenciales Keycloak
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# 4. Host IP (Para Kafka y Red Local)
# ¡MUY IMPORTANTE! Cambia esto por la IPv4 de tu computadora
HOST_IP=TU_IP_LOCAL_AQUI
