# ==========================================
# VARIABLES DE ENTORNO - PROYECTO CALISAAS
# ==========================================
# IMPORTANTE: Tu compañero debe copiar este archivo, renombrarlo a ".env" 
# y no subir el ".env" a GitHub.

# 1. Base de Datos PostgreSQL (Django & Keycloak)
DB_PG_PASSWORD=password_pg_aqui

# 2. Base de Datos MySQL (Node.js)
DB_MYSQL_ROOT_PASSWORD=rootpassword_aqui
DB_MYSQL_PASSWORD=password_mysql_aqui

# 3. Base de Datos MongoDB (Auditoría)
DB_MONGO_PASSWORD=password_mongo_aqui

# 4. Keycloak (Admin de Identidad)
KEYCLOAK_ADMIN_PASSWORD=admin_aqui
